
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@font-face {
  font-family: "MyFont";
  src: url("/fonts/XBOX_Helvetica.ttf") format("truetype"),
    url("/fonts/XBOX_Helvetica.woff2") format("woff2");
  font-style: normal;
}

@theme {
  --font-custom: "MyFont";
  --color-dark-color: #4c3c2a;
  --color-medium-color: #836d54;
  --color-light-color: #d2bea2;
}
