@import "tailwindcss";
@font-face {
  font-family: "MyFont";
  src: url("/fonts/XBOX_Helvetica.ttf") format("truetype"),
    url("/fonts/XBOX_Helvetica.woff2") format("woff2");
  font-style: normal;
}

@theme {
  --font-custom: "MyFont";
}
@keyframes spinSlow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin-slow {
  animation: spinSlow 2s linear infinite; /* Change 5s to adjust speed */
}

